*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-header{
    background: #00002b;
    padding: 8px;
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-nav__brand{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 60px);
    vertical-align: middle;
}

.main-nav__items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__link{
    display: inline-block;
    margin: 8px;
    padding: 10px;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    padding: 8px;
}

.nav-link:hover,
.nav-link:active{
    background: #45486165;
    color: #fc0404;
    border: 4px solid #fff;
    border-radius: 5px;
}

.nav-link__cta{
    background: #fff;
    color: #00002b;
    border: 1px solid #00002b;
    border-radius: 5px;
}
.content{
    display: inline-block;
    background: #45486165;
    width: 30%;
    margin: 10px;
    padding: 15px;
    text-align: justify;
}

.content-middle__vsion{
    background: #00002b;
    color: white;
}

.main-vsion__header{
    background: #fff;
    color: #00002b;
    text-align: center;
    padding: 8px;
    border: 4px solid #fff;
    border-radius: 5px;
    margin: 0 80px;
    font: bold 25px;
    text-transform: uppercase;
    
}
.main-content__ab{
    background: #00002b;
    color: #fff;
    text-align: center;
    padding: 8px;
    border: 4px solid #00002b;
    border-radius: 5px;
    margin: 0 80px;
    font: bold 25px;
    text-transform: uppercase;
}


.main-button{
    padding: 8px;
    background-color: #00002b;
    color: #fff;
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
}

#Admin-board{
    background: #00002b;
    margin-top: 20px;
    margin-bottom: 0;
    height: 300px;
}

.board-header{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 60px;
    padding-top: 10px;
}

.board-list__members{
    list-style: none;
    vertical-align: top;
}

.board-list{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.board-member-image{
    background: url(shakto/baas.jpg);
    background-size: cover;
    background-position: top;
    width: 130px;
    height: 130px;
    border: 2px solid red;
    border-radius: 50%;
    margin: auto;
}

.board-member__description{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

